
// ✅ Incluir Angular Material al principio
@use '@angular/material' as mat;

/* ✅ Theming personalizado */
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Tema claro predeterminado
  color-scheme: light;

  // Colores y tipografía base de Angular Material
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

/* ✅ Estilos globales */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
